<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <h1>Login</h1>
        <form action="/user/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email">
            <label for="username">Password</label>
            <input type="text" name="password" placeholder="password">
            <button type="submit">Login</button>
        </form>
        <% if (locals.msg) { %>
            <p class="msg"><%= msg %></p>
        <% } %>
    </div>    
</body>
</html>