<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="form">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email" id="email">
            <label for="username">Password</label>
            <input type="text" name="password" placeholder="password" id="password">
            <button type="submit" id="login-btn">Login</button>
            <a href="/signup">Sign-Up</a>
        </form>
            <% if (locals.msg) { %>
                <p class="msg"><%= msg %></p>
            <% } %>
        </p>
    </div>    
</body>
</html>