<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/form.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
</head>
<body>
    <div class="signup-form form">
        <h1>Sign-Up</h1>
        <form action="/signup" method="post">
            <label for="username">Username</label>
            <input type="text" name="userName" placeholder="Username">
            <label for="phone">Phone</label>
            <input type="text" name="phone" placeholder="phone">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email">
            <label for="username">Password</label>
            <input type="text" name="password" placeholder="password">
            <button type="submit">Sign-Up</button>
            <a href="/">Login</a>
        </form>
        <% if (locals.msg) { %>
            <p class="msg"><%= msg %></p>
        <% } %>
    </div>    
</body>
</html>